/Projects/HelloWorld/nbproject/private/
/Projects/Replace/nbproject/private/
/Projects/Replace/build/
/Projects/Temperature/nbproject/private/
/Projects/Temperature/build/
/Projects/Boiler/nbproject/private/
/Projects/Boiler/build/
/Projects/BoilerButFreezing/nbproject/private/
/Projects/BoilerButFreezing/build/
/Projects/Fightling/nbproject/private/
